In [3]:
# importing libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import os

In [6]:

from pathlib import Path
print(Path.cwd())

/Users/Kumar/Desktop/lab-inferential-statistics-anova

In [12]:
# Reading the file into python as dataframe
annova_df = pd.read_excel("/Users/Kumar/Desktop/lab-inferential-statistics-anova/files_for_lab/anova_lab_data.xlsx")
annova_df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [16]:
# Standardizing header-column names in the dataframe 
stand_cols = [annova_df.columns[i].lower().replace(' ', '_') for i in range(len(annova_df.columns))]
stand_cols

['power_', 'etching_rate']

In [24]:
# assigning the names of the columns for the dataframe 
annova_df.columns = stand_cols 
annova_df.columns

Index(['power_', 'etching_rate'], dtype='object')

In [26]:
# describing the dataframe where we can see useful info like n=count=15 (we will use it for the degrees of freedom)
annova_df.describe()

       etching_rate
count     15.000000
mean       6.782667
std        1.228643
min        5.430000
25%        5.845000
50%        6.240000
75%        7.725000
max        9.200000

In [30]:
annova_df_count = annova_df['power_'].value_counts()
annova_df_count

160 W    5
180 W    5
200 W    5
Name: power_, dtype: int64

In [32]:
annova_df['power_'] = np.where(annova_df['power_'].isin(['160 W']) , 160, annova_df['power_'])
annova_df['power_'] = np.where(annova_df['power_'].isin(['180 W']) , 180, annova_df['power_'])
annova_df['power_'] = np.where(annova_df['power_'].isin(['200 W']) , 200, annova_df['power_'])
annova_df

   power_  etching_rate
0     160          5.43
1     180          6.24
2     200          8.79
3     160          5.71
4     180          6.71
5     200          9.20
6     160          6.22
7     180          5.98
8     200          7.90
9     160          6.01
10    180          5.66
11    200          8.15
12    160          5.59
13    180          6.60
14    200          7.55

In [34]:
annova_df.groupby('power_').agg(np.mean)

        etching_rate
power_
160            5.792
180            6.238
200            8.318

# state null hypothesis

In [ ]:
#### The assumptions for an one-way between groups ANOVA are:
#### 1. Samples are independent
#### 2. The response variable is approximately normally distributed for each group or all group sample sizes are at least 30
#### 3. The population variances are equal across responses for the group levels (if the largest sample standard deviation divided
#### by the smallest sample standard deviation is not greater than two, then assume that the population variances are equal)

In [ ]:
#### Given that we are comparing 3 independent groups, the null hypothesis is:
#### Η0: μ1=μ2=μ3 (the means are similar) where μ1: the mean of the first group with power 160 W, μ2: the mean of the second group with power 180 W
#### and μ3: the mean of the third group with power 200 W

# state hypothesis

In [ ]:
#### alternative hypothesis -> H1 (or Ha): Not all μ are equal
#### the means are different (there is at least one design with the mean different from the others).

# What is the significance level

In [35]:
#### Level of significance: This defines the rejection region/critical region, it's the probability of making the wrong decision
#### when the null hypothesis is true. Usually it is 0.05. It is defined by greek letter 'alpha'.
#### we are not in a medical field so we can use as a=0.05

In [36]:
####  we will use ANOVA and f distribution (F-TEST)
#### df1 (Between Groups (Numerator) Degrees of Freedom): k-1, k=number of groups, we have 3 groups so df1=k-1=3-1=2
#### df2 (Within Groups (Denominator, Error) Degrees of Freedom): n-k, n=total sample size with all groups combined,
#### k=number of groups. So, n=15, k=3 and df2=n-k=15-3=12
#### the total degrees of freedom are df=df1+df2=2+12=14

In [43]:
# Analysis of Variance (ANOVA)
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate~power_', data=annova_df).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
power_     2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

In [ ]:
#